<% layout("layouts/boilerplate.ejs") %>
<div id="map" style="width: 100%; height: 600px"></div>

<script>
    const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
    const users = {features: <%- JSON.stringify(users)%>}
  </script>
<script src="/javascripts/userClusterMap.js"></script>
