<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Plans</title>
  </head>
  <body>
    <h1>All Workouts</h1>
    <div>
      <a href="/workoutplans/new">Add a workout plan</a>
    </div>
    <ul>
      <% for (let workout of workoutPlans) { %>
      <li>
        <a href="/workoutplans/<%= workout._id %>"><%= workout.title %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
